#hi-container {
    height: 30vh;
}

#contact-container {
    display: block;
    margin: 0 auto;
    width: min-content;
    min-width: 80%;
}

.contact-card {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: lightgray;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    z-index: 10;
}


.contact-icon {
    height: 40px;
    width: 40px;
    position: relative;
    top: 0px;
    left: 5px;
}

.contact-pic {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px black solid;
    position: relative;
    top: 50px;
    left: 75px;
    z-index: 19;
}

.contact-go-to {
    display: none;
    position: relative;
    font-weight: bold;
    color: gray;
    top: 20px;
    left: 30px;
}

.contact-card:hover .contact-pic {
    left: 20px;
    transition-duration: 300ms;
}


.contact-card:hover .contact-go-to {
    display: inline;
}

.contact-user {
    position: relative;
    top: 30px;
    text-align: center;
    background-color: gray;
    padding-bottom: 35px;
    padding-top: 37px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-style: oblique;
    font-weight: 500;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 100% 100%, 0 100%);
}



