* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: fixed;
    top: 0px;
    height: 15vh;
    width: 100vw;
    background: rgb(108, 131, 105);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

#header-name {
    font-size: 6vh;
    font-style: italic;
    position: absolute;
    top: 2vh;
    left: 2vh;
}

#snake-space {
    display: grid;
    position: fixed;
    top: 0px;
}

.food {
    background-color: rgba(139, 0, 0, 0.2);
    border: 0px;
}

.snake {
    background-color: rgba(30, 30, 30, 0.1);
    border: 0px;
}


#main-text-container {
    height: 40vh;
}

#static-text {
    text-align: center;
    margin-top: 40vh;
}

#main-text-tw {
    text-align: center;
    margin-top: 2vh;
}

#typing-line {
    display: inline;
}

#resume-container h3 {
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: 15px;
}

.resume-card {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5vh auto;
    padding: 10px;
    width: 90vw;
}

.resume-card h3 {
    display: inline;
    max-width: 10%;
    font-size: 150%;
}

.resume-card li {
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 3px;
}

.resume-card-date {
    display: inline;
    font-size: 80%;
    font-style: italic;
    font-weight: 400;
}

.resume-card-content {
    vertical-align: top;
    display: inline-block;
    max-width: 90%;
    border-left: black 1px solid;
    padding-left: 10px;
}

.resume-card-content h5 {
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 3px;
}

#education-card {
    font-size: 130%;
}
